<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            <li routerLinkActive="active"><a [routerLink]="['/bookings']">Bookings</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/items']">Items</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/test']">Rest Test and Pipes</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/contacts']">Contacts</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/newcontact']">New Contact</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/collection']">Collection</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/market']">Market</a></li>
        </ul>
    </div>
</div>
