<!--<header>-->
<!--<nav>-->
<!--<a [routerLink]="['/bookings']">Bookings</a>-->
<!--<a [routerLink]="['/newbooking']">New Booking</a>-->
<!--<a [routerLink]="['/test']">Rest Test and Pipes</a>-->
<!--<a [routerLink]="['/contacts']">Contacts</a>-->
<!--<a [routerLink]="['/newcontact']">New Contact</a>-->
<!--</nav>-->
<!--</header>-->
<!--<div class="main">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<div class="container">
    <app-header></app-header>
    <hr>
    <router-outlet></router-outlet>
</div>
