<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div>
        <label for="name">Bookiong Name:</label>
        <input type="text" id="name"
               #firstName="ngForm"
               [formControl]="myForm.controls['name']"
        />
    </div>
    <div>
        <label for="itemId">Item id:</label>
        <input type="text" id="itemId"
               [formControl]="myForm.controls['itemId']"
        />
    </div>
    <button type="submit" [disabled]="!myForm.valid">
        Create Booking
    </button>
</form>
